.todo {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;

    &.editing {
      margin-bottom: -1px;
    }
  }

  &.editing {
    border-bottom: none;
    padding: 0;
  }
}

.view {
  .editing & {
    display: none;
  }
}

.toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;

  &::after {
    content: url("../images/unchecked.svg");
  }

  &:checked::after {
    content: url("../images/checked.svg");
  }

  .todo:hover & {
    display: block;
  }

  /*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and(-webkit-min-device-pixel-ratio:0) {
    background: none;
    height: 40px;
  }
}

.label {
  white-space: pre-line;
  word-break: break-all;
  padding: 15px 60px 15px 15px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;

  .completed & {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}

.destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;

  &:hover {
    color: #af5b5e;
  }

  &::after {
    content: '×';
  }

  .todo:hover & {
    display: block;
  }
}

.edit {
  composes: edit from "shared/styles/edit.css";
  display: none;

  .editing & {
    display: block;
    width: 506px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
  }
}
